<form (submit)="submitForm()" [formGroup]="newTrackForm">
    <div>
        <label for="trackId">Track Id</label>
        <input id="trackId" name="trackId" type="number" formControlName="trackId">
        <span *ngIf="newTrackForm.controls['trackId'].touched && newTrackForm.controls['trackId'].errors?.['required']">
            Track ID is required
        </span>
    </div>
    <div>
        <label for="artistName">Artist Name<span class="red">*</span></label>
        <input id="artistName" name="artistName" type="text" formControlName="artistName">
        <span class="red" *ngIf="newTrackForm.controls['artistName'].touched && newTrackForm.controls['artistName'].errors?.['required']">
            Artist Name is required
        </span>

    </div>
    <div>
        <label for="trackName">Track Name</label>
        <input id="trackName" name="trackName" type="text" formControlName="trackName">
    </div>
    <div>
        <label for="genre">Genre</label>
        <input id="genre" name="genre" type="text" formControlName="genre">
    </div>
    <div>
        <label for="trackLength">trackLength</label>
        <input id="trackLength" name="trackLength" type="text" placeholder="MM:SS" formControlName="trackLength">
    </div>
    <input type="submit" class="btn btn-success" value="Submit">
</form>